/* CSS for Stopwatch-webapp with Mobile responsive Interface 
version : 1.0
Author : TechTronixx */

/* Use poppins font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Make the container responsive to different devices */

@media (max-width: 1024px) {
  .container {
    position: bottom;
    bottom: 60px;
    max-width: 500px;
  }
  .desc-container {
    position: bottom;
    bottom: 60px;
    right: 30px;
    max-width: 600px;
  }
}

@media (max-width: 600px) {
  .container {
    position: bottom;
    bottom: 60px;
    max-width: 300px;
  }
  .desc-container {
    position: bottom;
    bottom: 60px;
    right: 30px;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .container {
    position: bottom;
    bottom: 60px;
    max-width: 250px;
  }
  .desc-container {
    position: bottom;
    bottom: 60px;
    right: 30px;
    max-width: 300px;
  }
}

/* Spinning animation github icon */
footer img {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  /* background-color: #fffffe; */
  background-image: url("https://wallpaperaccess.com/full/514278.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  max-width: 300px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid rgb(20, 141, 222);
  border-radius: 15px;
  box-shadow: 15px -8px 32px -3px rgba(0, 0, 0, 0.1);
}

.time {
  padding: 1rem 0;
  font-size: 2rem;
}

h1,
p {
  color: #f8f8f8;
}

button {
  padding: 0.4rem 1rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  border: 1px solid #f8f8f8;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #f8f8f8;
}

/* CSS for the footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #3f51b5;
  transition: all 0.3s ease-in-out;
}

footer img {
  margin-left: 5px;
  margin-top: 1.5px;
  margin-bottom: 1px;
}

footer:hover {
  background-color: #303f9f;
}

.desc-container {
  padding: 0.6rem;
  font-family: "Poppins", sans-serif;
  max-width: 400px;
  text-align: justify;
  position: absolute;
  left: 30px;
  border: 3px solid rgb(20, 141, 222);
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 15px -8px 32px -3px rgba(0, 0, 0, 0.1);
}
